* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

/* Utils */
.p1 {
  color: hsl(0, 0%, 41%);
  font-family: Montserrat, sans-serif;
  cursor: pointer;
  font-size: 18px;
  font-weight: 500;
  margin-top: 1rem;
}

.p2 {
  color: hsl(0, 0%, 41%);
  cursor: pointer;
  display: none;
  font-family: Montserrat, sans-serif;
  font-size: 18px;
  font-weight: 500;
  /*margin-top: .5rem;*/
  padding: 1rem;
}

.p3 {
  color: hsl(0, 0%, 8%);
  font-size: 43px;
  font-family: Montserrat, sans-serif;
  font-weight: 600;
}

.p4 {
  color: hsl(0, 0%, 41%);
  cursor: pointer;
  font-family: Montserrat, sans-serif;
  font-size: 18px;
  font-weight: 500;
  margin: auto;
  padding: 1rem;
  width: 85%;
  line-height: 1.5;
}

.p5 {
  color: hsl(0, 0%, 41%);
  font-family: Montserrat, sans-serif;
  cursor: pointer;
  display: flex;
  font-size: 18px;
  font-weight: 500;
}

body {
  background: hsl(0, 0%, 98%);
  overflow-x: auto;
  /*width: 90%;*/
  /*max-width: 1440px;*/
  /*height: 100vh;*/
  /*margin: auto;*/
  /*align-items: center;*/
  /*justify-content: center;*/
}

.header {
  display: flex;
  padding: 1.5rem;
  width: 100%;
  justify-content: space-between;
}

.logo {
  padding: 1.5rem;
}

.first-link,
.second-link {
  display: none;
}

.hover:hover {
  position: absolute;
  right: 0;
}

.first-link-ham,
.second-link-ham {
  display: none;
}

.menu {
  padding: 1.5rem;
}

.close {
  display: none;
}

.hover:hover .first-link-ham,
.hover:hover .second-link-ham {
  display: block;
}

.hover:hover .close_menu {
  flex-direction: row-reverse;
}

.hover:hover .menu {
  display: none;
}

.hover:hover .close {
  display: flex;
  margin-bottom: 2rem;
  justify-content: space-between;
  margin-top: 1rem;
  left: 0;
}

.hover:hover {
  background: white;
  width: 50%;
  height: 100vh;
  padding: 1rem;
}

.first-link-ham ul li,
.second-link-ham ul li {
  padding: 0.5rem;
}

.features {
  margin-bottom: 1rem;
}

.company {
  margin-bottom: 1rem;
}

.features .p1 {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.features .p1 img,
.company .p1 img {
  height: 0.5rem;
}

.features span img:last-child,
.company span img:last-child {
  display: none;
}

.features,
.company,
.careers,
.about {
  padding: 1rem;
}

.features:hover .p2,
.company:hover .p2 {
  display: block;
}

.company {
  margin-top: -1.5rem;
}

.careers,
.about {
  margin-top: -0.6rem;
}

.careers {
  margin-top: -1.5rem;
}

/* Main */

.section1 {
  margin-top: 2rem;
  text-align: center;
  display: flex;
  flex-direction: column-reverse;
}

.image-hero-mobile {
  width: 100%;
}

.image-hero-desktop {
  display: none;
}

.hero-text {
  margin-top: 2.5rem;
}

.btn button {
  background: hsl(0, 0%, 8%);
  color: white;
  border: none;
  padding: 1rem;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  margin-top: 1rem;
  border-radius: 0.8rem;
  width: 30%;
}

/* .footer */
.footer {
  margin-top: 4rem;
  display: flex;
  justify-content: center;
  gap: 1.8rem;
  margin-bottom: 2rem;
  text-align: center;
}

.footer img {
  height: 1rem;
  width: 3rem;
}

.footer img:first-child {
  width: 20%;
  height: 20%;
}

/* Responsiveness */
@media screen and (min-width: 740px) {
  .footer img:first-child {
    width: 8%;
  }
}
@media screen and (min-width: 1120px) {
  .image-hero-mobile {
    width: 70%;
    margin: auto;
  }
}

@media screen and (min-width: 1400px) {
  /* Utils */

  .p3 {
    font-size: 98px;
    width: 98%;
  }

  .p4 {
    margin: 2rem 0;
    padding: 0;
    width: 74%;
  }

  .p5 {
    align-items: center;
    gap: 1rem;
  }

  .header {
    display: flex;
    justify-content: space-between;
    align-items: self-start;
    padding: 1rem;
    margin: auto;
    width: 90%;
    max-width: 1440px;
  }

  .logo {
    display: flex;
    align-items: center;
    gap: 3rem;
  }

  .logo-img {
    height: 2rem;
  }

  .first-link {
    display: flex;
    align-items: center;
    /*gap: 3rem;*/
  }

  .features {
    margin-bottom: unset;
  }

  .features ul {
    padding: 1rem;
    position: absolute;
    display: none;
    text-align: center;
    background: white;
    color: hsl(0, 0%, 41%);
    width: 10%;
    border-radius: 1rem;
    left: 181px;
    margin-top: 1rem;
    box-shadow: hsl(0deg 0% 8%) 5rem 5rem 8rem -3.5rem;
    font-size: 18px;
  }

  .features ul li {
    text-align: left;
  }

  .features .p5:hover,
  .company .p5:hover,
  .second-link .p1:hover {
    color: hsl(0, 0%, 8%);
  }

  .features:hover ul {
    display: block;
  }

  .features:hover .p5 img:first-child {
    display: none;
  }

  .features:hover .p5 img:last-child {
    display: flex;
  }

  .features ul li {
    margin-top: 0.5rem;
  }

  .company {
    margin-top: unset;
    margin-bottom: unset;
    margin-right: 1rem;
  }

  .company ul {
    padding: 1rem;
    position: absolute;
    display: none;
    text-align: center;
    background: white;
    color: hsl(0, 0%, 41%);
    width: 7%;
    border-radius: 1rem;
    box-shadow: hsl(0deg 0% 8%) 5rem 5rem 8rem -2.5rem;
    /*left: 181px;*/
    font-size: 18px;
  }

  .company ul li {
    margin-top: 0.5rem;
    text-align: left;
  }

  .company:hover ul {
    display: block;
  }

  .company img {
    margin-left: -0.5rem;
  }

  .features,
  .company,
  .careers,
  .about {
    margin-top: unset;
  }

  .absent {
    display: flex;
    align-items: center;
    gap: 2rem;
  }

  .absent .p5:hover {
    color: hsl(0, 0%, 8%);
  }

  .links {
    display: flex;
  }

  .second-link .p1:hover {
    color: hsl(0, 0%, 8%);
  }

  .second-link {
    display: flex;
    gap: 2rem;
    align-items: center;
    margin-top: 1rem;
    margin-left: -2rem;
  }

  .second-link li:last-child {
    border-radius: 1.2rem;
    border: 2px solid hsl(0, 0%, 41%);
    padding: 0.8rem;

    cursor: pointer;
  }

  .second-link li:last-child:hover {
    border: 2px solid hsl(0, 0%, 8%);
  }

  .hover {
    display: none;
  }

  /* main */
  main {
    width: 90%;
    max-width: 1440px;
    margin: auto;
    display: grid;
    /*height: 80vh;*/
    justify-items: center;
    align-content: center;
    /*place-content: center;*/
    /*height: 100vh;*/
  }

  .section1 {
    display: flex;
    min-height: 10em;
    /*padding: 8rem;*/
    flex-direction: row;
    text-align: left;
    gap: 4rem;
    margin: 3rem auto;
    width: 100%;
    max-width: 80%;
    align-items: center;
  }

  .image-hero-mobile {
    display: none;
  }

  .image-hero-desktop {
    display: block;
    width: 40%;
    margin-right: -11rem;
  }

  .footer {
    justify-content: unset;
  }

  .footer img {
    width: 10%;
    height: 10%;
  }

  .footer img:first-child {
    width: 15%;
    height: 15%;
  }

  .footer img:nth-child(1),
  .footer img:nth-child(3),
  .footer img:nth-child(4) {
    width: 18%;
    height: 15%;
  }

  .btn button:hover {
    background: transparent;
    border: 2px solid hsl(0, 0%, 8%);
    color: hsl(0, 0%, 8%);
  }
}
